.SearchList {
  grid-area: list;
  background-color: #eee;
  border-bottom-left-radius: 10px;

  .FoodList {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-bottom: 2px solid #fff;
      padding: 0;

      a {
        height: 3rem;

        &:link,
        &:visited {
          padding: 1.6rem 1rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          color: inherit;
          transition: all .2s;
        }

        &:hover {
          background-color: #fff;
        }
      }

      h3 {
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}