.FoodTitle {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, rgba(lightblue, 0.7), rgba(lightskyblue, 0.7));

  h1 {
    padding: 0 1.5rem;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}